body {
	background: #d3d3d3;
	font-size: 1.2em;
	font-family: "arial";	
}

#main-container 
{
	margin-top: 40px;
}

#results-label {
	font-size: 1.6em;
	font-weight: lighter;
	margin-top: 20px;
}

.email-result
{
	border-top: 1px black solid;
	background: #f6f6f6;
	padding: 10px;
}

.sender
{
	color: #7e7e7e;
}

.sender-email
{

}

.subject
{
	font-size: 1.4em;
	font-weight: bold;

}

.left {
	float: left;
	width: 70%;
}
.right {
	float: right;
	width: 30%;
}