body,
.input-group-addon,
#searchButton
{
	background: #000;
	color: #fff;
	font-family: "segoe ui";	
}

body {
	font-size: 2em;
}

#main-container 
{
	margin-top: 40px;
}

#results-label {
	font-size: 2em;
	font-weight: lighter;
	margin-top: 20px;
}

.email-result
{
	/*border-top: 1px #f6f6f6 solid;*/
	/*padding: 10px;*/
}
.email-result-left {
	float: left;
	width: 80%;
	padding-bottom: 20px;
}
.email-result-right {
	float: right;
	width: 20%;
}

.time,
.date,
.sender-email,
.subject,
.preview
{
	font-size: .75em;
}

.sender-email,
.subject,
.preview
{
	color: #7e7e7e;
}

.time.phone,
.date.phone,
.sender-email.phone,
.subject.phone,
.preview.phone
{
	font-size: 1em;

}
.sender-name.phone 
{
	font-size: 1.5em;
}

.link-icon 
{
	width:10px;
	height:10px;
}

