.diagram {
  max-width: 500px;
}

.codeline{
  display: block;
}

em {
  font-weight: bold;
}

blockquote{
  font-style: italic;
  font-family: Courier;
}

section#example {
  background-color: rgb(236, 236, 236);
}

body,
.input-group-addon,
#searchButton
{
	background: #fff;
	color: #000;
    font-family: 'Open Sans', "Helvetica Neue";
	border: white;
}

body {
	font-size: 2em;
}

#main-container 
{
	margin-top: 40px;
}

#search-container {
	border-bottom: 1px solid white;
	padding-bottom: 10px;
	width: 100%;
}

#search-box {
	width: 481px;
}

#search-box[placeholder]:empty:before {
    content: attr(placeholder);
    opacity: 0.5;
}

.search-query {
	display: inline-block;
}

.search-query:focus {
	outline: 0;
}

#unsupported,
.search-prefix,
.search-query,
#results-label {
	font-size: 1.5em;
	font-weight: lighter;
	margin-top: 20px;
}
#email-container {
	/*height: 300px;
	overflow-y: scroll;*/
}
.email-result
{
	border: none;
	/*border-radius: 5px;*/
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	margin: 15px 0 15px 0;
}
.email-result-left {
	float: left;
	width: 90%;
	/*padding-bottom: 20px;*/
	/*background-color: black;*/
}
.email-result-right {
	float: right;
	width: 10%;
	text-align: right;
	/*background-color: black;*/
}

.time,
.date
{
	font-size: .6em;
}

.day,
.sender-email,
.preview,
.body,
.to
{
	font-size: .65em;
}

.sender-email,
.subject,
.preview,
.to
{
	color: #afafaf;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.sender-name
{
	font-size: .9em;
	line-height: .7em;
}
.subject
{
	font-size: .65em;
	font-weight: bold;
}

.time.phone,
.date.phone,
.day.phone,
.sender-email.phone,
.subject.phone,
.preview.phone
{
	font-size: 1em;

}
.sender-name.phone 
{
	font-size: 1.5em;
}

.link-icon 
{
	width:10px;
	height:10px;
}

.result-meta
{
	font-size: 60%;
	margin-right: 3px;
	color: whitesmoke;
}
.label.label-default.label-custom
{
	margin-right: 3px;
	font-weight: 500;
	font-size: 60%;
	background-color: rgba(0, 0, 0, 0.75);
	color: whitesmoke;
}

.email-details-expander
{
	margin-top: 12px;
	font-size: 2em;
	line-height: .2em;
}

.html-email-iframe {
	scrolling: no;
	border: 0;
	width:100%;
	height: 500px;
}

.search-prefix {
	display: inline-block;
	vertical-align: top;
	padding-right: 7px;
}
.add-bottom-margin {
	margin-bottom: 15px;
}

.links,
.attachments
{
	font-size: .65em;
	margin-top: 15px;
}
.counts
{
	float: right;
	font-size: .65em;
}
.link-count,
.attachment-count
{
	margin-right: 10px;
}
em {
	font-weight: bold;
	color: whitesmoke;
}

#dym-container {
	padding-top: 5px;
}

#dym-suggestion {
	text-decoration: underline;
	font-weight: bold;
}